.grid-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);   
    grid-template-rows: repeat(5,1fr);
    gap: 20px;
}
.grid{
    padding: 15px;
    background-color: blueviolet;
    border: 1px solid;
    text-align: center;
    align-items: center;
}
.grid-item1,.grid-item4{
    grid-column: span 3;
    grid-row: span 1;
}
.grid-item2{
    grid-column: span 2;
    grid-row: span 3;
}
.grid-item3{
    grid-row: span 3;
}
