h2{
    color: black;
    background-color: red;
    font-weight: bolder;
    font-style: italic;
    font-size: 50;
    text-align: center;
}
p{
    color: red;
}
#css{
    color: blue;
    text-decoration: none;
}
#hobbies{
    color: blue;
}
img{
    
}